.navbar.is-success {
  background-color: #0a2d4d;
}

.code-output {
  // Makes horizontal scrollbars appear
  max-width: 48vw;

  div {
    border-color: var(--border-color);
    border-width: 1px;
    border-style: solid;
  }
}

.tile {
  margin-top: 1em;

  &.is-ancestor:last-child {
    // Makes the grid take up the viewport, leaving space for the navbar at the top
    height: 95vh;
  }
}


body {
    background: var(--background-color);
    color: var(--text-color);
}

.textarea {
  background-color: var(--editor-background-color);
  color: var(--editor-text-color);

  &::placeholder {
    color: rgba(var(--editor-text-color), 0.4)
  }
}
